body {
    background-image: url(RPS.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#gameFrame {
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    background-color: rgb(192, 217, 226);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

#playerText {
    color: blue;
}

#computerText {
    color: red;
}

#resultText {
    color: green;
}

.choiceButton {
    line-height: 20px;
    width: 100px;
}